<button class="button" (click)="openCreateDialog()">
    Crear
</button>
<div class="tablecontainer">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Descripcion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="availableCategories.length == 0; else table_data">
                <td colspan="3" style="text-align: center">
                    No hay categorias registradas
                </td>
            </tr>
            <ng-template #table_data>
                <tr *ngFor="let category of availableCategories">
                    <td>{{category.id}}</td>
                    <td>{{category.description}}</td>
                    <td style="min-width: 220px; width: 220px">
                        <button class="button action" (click)="openEditDialog(category)">
                            <i class="fa-solid fa-pencil"></i> Editar
                        </button>
                        <button class="button action" (click)="delete(category)">
                            <i class="fa-solid fa-trash"></i> Borrar
                        </button>
                    </td>
                </tr>
            </ng-template>
        </tbody>
    </table>
</div>