<div *ngIf="availablePersons.length == 0; else no_persons">
    <p>No hay personas registradas</p>
</div>
<ng-template #no_persons>
    <button class="button" (click)="openCreateDialog()">
        Crear
    </button>
    <button class="button" (click)="delete()">
        Borrar
    </button>
    <div class="tablecontainer">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>Cédula</th>
                    <th>Doctor?</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let person of availablePersons">
                    <tr *ngIf="person.id !== -1">
                        <td>{{person.id}}</td>
                        <td>{{person.name}}</td>
                        <td>{{person.lastName}}</td>
                        <td>{{person.phone}}</td>
                        <td>{{person.email}}</td>
                        <td>{{person.cedula}}</td>
                        <td>{{person.flag_is_doctor}}</td>
                    </tr>
                </ng-container>
        </table>
    </div>
</ng-template>