<button class="button" (click)="openCreateDialog()">
    Crear
</button>
<div class="table-filters">
    <mat-form-field class="table-filters__item">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="personFilters.name">
    </mat-form-field>
    <mat-form-field class="table-filters__item">
        <mat-label>Apellido</mat-label>
        <input matInput [(ngModel)]="personFilters.lastName">
    </mat-form-field>
    <mat-form-field>
        <mat-select [(ngModel)]="personFilters.flag_is_doctor">
            <mat-option value="everyone">Todos</mat-option>
            <mat-option value="doctors">Doctores</mat-option>
            <mat-option value="patients">Pacientes</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div>
    <button class="button" (click)="filter()">Filtrar</button>
    <button class="button" (click)="clearFilters()">Limpiar</button>
</div>
<div class="tablecontainer">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Cédula</th>
                <th>Doctor?</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="filteredPersons.length == 0; else table_data">
                <td colspan="8" style="text-align: center">
                    No hay personas registradas
                </td>
            </tr>
            <ng-template #table_data>
                <ng-container *ngFor="let person of filteredPersons">
                    <tr *ngIf="person.id !== -1">
                        <td>{{person.id}}</td>
                        <td>{{person.name}}</td>
                        <td>{{person.lastName}}</td>
                        <td>{{person.phone}}</td>
                        <td>{{person.email}}</td>
                        <td>{{person.cedula}}</td>
                        <td>{{person.flag_is_doctor ? 'Sí' : 'No'}}</td>
                        <td style="min-width: 220px; width: 220px">
                            <button class="button action" (click)="openEditDialog(person)">
                                <i class="fa-solid fa-pencil"></i> Editar
                            </button>
                            <button class="button action" (click)="delete(person)">
                                <i class="fa-solid fa-trash"></i> Borrar
                            </button>
                        </td>
                    </tr>
                </ng-container>
            </ng-template>
        </tbody>
    </table>
</div>